node_modules/
.next/
.env
.env.local
*.tsbuildinfo
next-env.d.ts
test-results/
playwright-report/
public/avatars/*.jpg
public/avatars/*.png
public/avatars/*.gif
public/uploads/
prisma/*.db
prisma/*.db-journal
prisma/*.db-wal
prisma/*.db-shm
